@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb;
  --foreground: #111827;
  --verso-green: #1d9e75;
  --verso-amber: #f59e0b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-size: 1.125rem;
  line-height: 1.6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
